<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="com.neeraj.SpringBasics.Alien" scope="prototype" autowire="byName">
        <property name="age" value="12">
        </property>
        <!--<constructor-arg value="12"/> -->
        <!-- <property name="com" ref="laptop"/> -->
    </bean>

    <!-- <bean id="laptop" class="com.neeraj.SpringBasics.Laptop">
     </bean> -->
    <bean id="com" class="com.neeraj.SpringBasics.Laptop" primary="true">
    </bean>

    <!--  <bean id="alien" class="com.neeraj.SpringBasics.Alien" scope="singleton"/> -->
    <bean id="desktop" class="com.neeraj.SpringBasics.Desktop">
    </bean>
</beans>